node_modules
dist
.wrangler
.dev.vars
.env
.env.*
!.env.example
*.log
.DS_Store
shots
mobile/node_modules
mobile/dist
mobile/android/.gradle
mobile/android/app/build
mobile/android/build
mobile/ios/App/Pods
mobile/ios/DerivedData
*.p8
*.mobileprovision
AuthKey_*.p8
